:root {
    --primary-color: #200226;
    --white-color: #fff;
    --gap: 3rem;
    --light-grey-color: #eee;
}

.main-bg {
    background-image: url(../img/endless-constellation.svg);
    background-size: auto;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
    min-width: 100vh;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a {
    color: var(--primary-color);
    text-decoration: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid var(--primary-color);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 500;
}

.menu ul li a:hover {
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 600;
    transition: all 150ms ease-in-out;
}

.menu-content {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.menu-spacing {
    height: 4.24rem;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content,
.intro-img {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.intro-text-content h2 {
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.intro-text-content p {
    margin-bottom: 5rem;
}

.intro-img img {
    margin-top: 5rem;
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 70rem;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
}

.grid-top-content {
    display: flex;
    max-width: 70rem;
    flex-flow: column wrap;
    min-height: 100vh;
    justify-content: center;
    font-size: 2rem;
}

.grid-title {
    margin-bottom: 2rem;
}

.grid-description {
    margin-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -2.5rem;
    left: 0;
    transform: rotate(5deg);
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(2deg)
}

.responsive-table {
    overflow-y: auto;
    overflow-x: auto;
}

.table-content {
    max-width: 80rem;
    flex-flow: column nowrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    height: 80%;
    font-size: 2.5rem;
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-grid legend {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 3rem;
    ;
}

.footer {
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.footer a {
    color: var(--primary-color);
}